<div class="work-together" id="work-together">
  <layout-section-container>
    <layout-side-bar
      [icon]="barIcon"
      [barStyles]="barStyle"
      slot="bar"
    ></layout-side-bar>
    <div class="work-together__content" slot="content">
      <p class="section-name">
        {{ "PUBLIC.LANDING.LETS_WORK_TOGETHER.NAME" | translate }}
      </p>
      <div class="contact-container">
        <div class="contact-container__header">
          <p class="title">
            {{ "PUBLIC.LANDING.LETS_WORK_TOGETHER.TITLE" | translate }}
          </p>
          <p class="description">
            {{ "PUBLIC.LANDING.LETS_WORK_TOGETHER.DESCRIPTION" | translate }}
          </p>
        </div>
        <div class="contact-container__footer">
          <div class="form-container">
            <div class="form-container__tab">
              <p class="title">
                {{
                  "PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.TAB" | translate
                }}
              </p>
            </div>
            <form
              class="form-container__form"
              [formGroup]="form"
              (ngSubmit)="onContact()"
            >
              <div class="form-item">
                <div class="form-item__title">
                  <img class="check-icon" />
                  <p>
                    {{
                      "PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.NAME"
                        | translate
                    }}
                  </p>
                </div>
                <form-input
                  formControlName="name"
                  [placeholder]="
                    'PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.NAME_PLACEHOLDER'
                      | translate
                  "
                ></form-input>
              </div>
              <div class="form-item">
                <div class="form-item__title">
                  <img class="check-icon" />
                  <p>
                    {{
                      "PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.EMAIL"
                        | translate
                    }}
                  </p>
                </div>
                <form-input
                  formControlName="email"
                  [placeholder]="
                    'PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.EMAIL_PLACEHOLDER'
                      | translate
                  "
                  [type]="INPUT_TYPE.EMAIL"
                ></form-input>
              </div>
              <div class="form-item">
                <div class="form-item__title">
                  <img class="check-icon" />
                  <p>
                    {{
                      "PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.MESSAGE"
                        | translate
                    }}
                  </p>
                </div>
                <form-textarea
                  formControlName="message"
                  [placeholder]="
                    'PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.MESSAGE_PLACEHOLDER'
                      | translate
                  "
                ></form-textarea>
              </div>
              <div class="form-buttons">
                <form-button
                  [text]="
                    'PUBLIC.LANDING.LETS_WORK_TOGETHER.CONTACT.BTN_SEND'
                      | translate
                  "
                  [size]="SIZES.MD"
                  [designClass]="BUTTON_DESIGN_CLASS.AMERICAN_GREEN"
                  [displayBlock]="!(isDesktopScreen$ | async)"
                  [type]="BUTTON_TYPE.SUBMIT"
                  [isLoading]="isLoadingContact$ | async"
                  [isDisabled]="(isLoadingContact$ | async) || form.invalid"
                ></form-button>
              </div>
            </form>
          </div>
          <img class="console" />
        </div>
      </div>
    </div>
  </layout-section-container>
</div>
