@import "variables/breakpoints";
@import "mixins/breakpoints";

.work-together {
  &__content {
    display: grid;
    align-items: center;
    padding: 0.5rem 0 7rem;
    gap: 1rem;
    @include to(laptop) {
      padding: 1rem 0 4rem;
      gap: 1.5rem;
    }
    .contact-container {
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid #30363d;
      background: #161b22;
      &__console {
        .tab {
          display: flex;
          gap: 5px;
          justify-content: center;
          align-items: center;
        }
        .console-container {
          height: 300px;
        }
      }
    }
  }
}
