@import "variables/breakpoints";
@import "mixins/breakpoints";

.footer {
  display: grid;
  gap: 1.5rem;
  padding: 2rem 10rem;
  background: linear-gradient(180deg, #09000e 3.76%, rgba(9, 0, 14, 0) 107.98%);
  @include to(laptop) {
    padding: 2rem;
  }
  &__sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @include to(laptop) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
  &__note-container {
    text-align: center;
    .note {
      ::ng-deep .highlighted {
        color: var(--color-primary-10);
        font-family: var(--font-primary-bold);
      }
    }
  }
}
