@import "variables/breakpoints";
@import "mixins/breakpoints";

.hero {
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    @include to(laptop) {
      display: flex;
      flex-direction: column-reverse;
    }
    .info,
    .figures {
      display: grid;
      justify-content: center;
      align-items: center;
    }
    .info {
      gap: 1rem;
      @include to(laptop) {
        text-align: center;
      }
      &__greeting {
        font-size: var(--text-font-size-extrabig);
      }
      &__name {
        color: var(--color-primary-10);
        font-size: var(--title-font-size-1);
      }
      &__career {
        font-size: calc(var(--title-font-size-1) + 52px);
        font-family: var(--font-primary-bold);
        line-height: var(--title-line-height-1);
        @include to(laptop) {
          display: flex;
          align-self: center;
          justify-content: center;
          gap: 0.5rem;
          font-size: calc(var(--title-font-size-3) + 5px);
          line-height: var(--title-line-height-4);
        }
        span {
          margin-left: 6rem;
          @include to(laptop) {
            margin-left: 0;
          }
        }
      }
      &__description {
        font-size: var(--text-font-size-extrabig);
        width: 90%;
        margin-bottom: 1rem;
        @include to(laptop) {
          font-size: var(--text-font-size-big);
          text-align: left;
          width: 100%;
        }
      }
    }

    .figures {
      &__photo {
        content: var(--icon-figure-hero);
        @include to(laptop) {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
  &__tools {
    margin: 3rem 0 8rem;
    animation: backInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */

    @include to(laptop) {
      margin: 2rem 0 4rem;
    }
    .icons {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include to(laptop) {
        &__tool {
          width: 20px;
        }
      }
    }
  }
}
