<div class="hero" id="hero">
  <layout-section-container>
    <layout-side-bar
      [icon]="barIcon"
      [barStyles]="barStyle"
      slot="bar"
    ></layout-side-bar>
    <ng-container slot="content">
      <div class="hero__top">
        <div class="info">
          <p class="info__greeting">
            {{ "PUBLIC.LANDING.HERO.GREETING" | translate }}
          </p>
          <h2 class="info__name">{{ ownerName }}</h2>
          <h1 class="info__career">
            {{ "PUBLIC.LANDING.HERO.SOFTWARE" | translate }} <br />
            <span>{{ "PUBLIC.LANDING.HERO.ENGINEER" | translate }}</span>
          </h1>
          <p class="info__description">
            {{ "PUBLIC.LANDING.HERO.DESCRIPTION" | translate }}
          </p>
          <form-button
            [text]="'PUBLIC.LANDING.HERO.BTN_HIRE_ME' | translate"
            [size]="SIZES.MD"
            [designClass]="BUTTON_DESIGN_CLASS.PLUMP_PURPLE"
          ></form-button>
        </div>
        <div class="figures">
          <img class="figures__photo" />
        </div>
      </div>
      <div class="hero__tools">
        <p class="title">
          {{ "PUBLIC.LANDING.HERO.SOME_TOOL" | translate }}
        </p>
        <div class="icons">
          <img class="icons__tool" [src]="src" *ngFor="let src of tools" />
        </div>
      </div>
    </ng-container>
  </layout-section-container>
</div>
