@import "variables/breakpoints";
@import "mixins/breakpoints";

.skills {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5rem 0 7rem;
    gap: 1rem;
    @include to(laptop) {
      grid-template-columns: 1fr;
      padding: 1rem 0 4rem;
    }
    .figures {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &__icon {
        content: var(--icon-figure-skills);
        margin: 0 auto;
        @include to(laptop) {
          width: 50%;
          margin: 0 auto 2rem;
        }
      }
      &__photo {
        content: var(--image-figure-skills);
        position: absolute;
        width: 54%;
        top: 32%;
        left: 54%;
        transform: translate(-50%, -50%);
        @include to(laptop) {
          width: 45%;
        }
      }
    }
    .info {
      display: grid;
      gap: 1rem;
      &__title {
        text-transform: capitalize;
        font-size: var(--title-font-size-1);
        @include to(laptop) {
          font-size: var(--title-font-size-2);
          text-align: center;
        }
      }
      &__title,
      &__description {
        ::ng-deep .highlighted {
          text-transform: capitalize;
          background: linear-gradient(#2ea043, #39bc44);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  }
}
